# Токен бота від @BotFather
BOT_TOKEN=8722791410:AAEwkt5Tz_Q-7fQoRr9ETYKxDRZv8ksvbJw

# ID вашої Telegram групи (від'ємне число)
# Щоб дізнатись: додайте бота @username_to_id_bot у групу
GROUP_CHAT_ID=-1003767028995

# ID адміністраторів через кому (ваш особистий Telegram ID)
# Щоб дізнатись свій ID: напишіть @userinfobot
ADMIN_IDS=5914184261,8083526696

